<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add User</title>
      <script src="https://cdn.tailwindcss.com"></script>

</head>
<body>
    <h1>Add User</h1>
    <form action="/add" method="post">
        <label for="">Name</label>
        <input type="text" name="name"><br>
        <label for="">Password</label>
        <input type="password" name="password"><br>
         <select name="role">
            <option value="user">User</option>
            <option value="admin">Admin</option>
         </select>
        <button type="submit">Add</button>
    </form>
</body>
</html>