<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="max-h-screen flex items-center justify-center">
    <form action="/login" method="post" class="">
        <h2>Login</h2>
        <input type="text" name="name" placeholder="Username" required> <br>
        <input type="password" name="password" placeholder="Password" required> <br>
        <button type="submit"> Login</button> 
        <p>Dont you have account??</p><a href="/register">Sign In</a>
    </form>
</body>
</html>