<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit your Account</title>
</head>
<body>
    <form action="/update/<%= user.id %>" method="post">
        <h3>Update <%= user.name %></h3>
        <label for="">Name:</label>
        <input type="text" name="name" value="<%= user.name %>"> <br>
        <label for="">Password:</label>
        <input type="text" name="password" value="<%= user.password %>"> <br>

        <button>update</button>
    </form>
</body>
</html>